arviz==0.23.4
astropy==7.2.0
astropy-iers-data==0.2026.2.9.0.50.33
chaosmagpy==0.15
contourpy==1.3.3
cycler==0.12.1
Cython==3.2.4
fonttools==4.61.1
geomagic==1.0
h5netcdf==1.8.1
h5py==3.15.1
hdf5storage==0.2.2
ImageIO==2.37.2
kiwisolver==1.4.9
matplotlib==3.10.8
mysql==0.0.3
mysql-connector-python==9.6.0
mysqlclient==2.2.8
numpy==2.4.2
packaging==26.0
pandas==3.0.0
pillow==12.1.1
platformdirs==4.9.1
-e git+https://github.com/LeoBosse/analysis.git@d6443addbfc293d2bf782d669bfc1125b7d6b69b#egg=pomerol&subdirectory=pomerol GPU
pyerfa==2.0.1.5
pyparsing==3.3.2
pyshp==3.0.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scipy==1.17.0
setuptools==82.0.0
six==1.17.0
typing_extensions==4.15.0
-e git+https://github.com/LeoBosse/analysis.git@d6443addbfc293d2bf782d669bfc1125b7d6b69b#egg=vendange&subdirectory=vendange
wget==3.2
xarray==2026.2.0
xarray-einstats==0.9.1
